body{
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 15px;
    line-height: 1.5em; */
    font: 15px/ 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color: #354248;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    /* border-bottom: orange 3px solid; */
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;

}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 30px;

}

header .highlights, header .current a{
    color: #ff6f00;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#showcase{
    min-height: 250px;
    background-image: url(/img/bg5.jpg);
    text-align: center;
    color: rgb(88, 10, 10);


}
#showcase h1{
    margin-top: 24px;
    font-size: 35px;
    margin-bottom: 10px;
    color: #000000;
}
#showcase p{
    font-size: 18px;

}

#newsletter{
    padding: 15px;
    color: white;
    background-color: #354248;
}
#newsletter h1{
    float: left;

}
#newsletter form{
    margin-top: 20px;
    float: right;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 20px;
    width: 230px;
}
.button1{
    height: 32px;
    background-color: orange;
    padding: 4px;
    border: none;
    border-radius: 2px;
    color: rgb(0, 0, 0);
}

#boxes{
    margin-top: 20px;
}
#boxes .box{
    width: 30%;
    float: left;
    padding: 10px;
    text-align: center;
}
aside{
    float: right;
    width: 30%;
    margin-top: 10px;
}
article{
    float: left;
    width: 65%;

}
.dark{
    padding: 15px;
    background-color: #354248;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 2px;
    margin-bottom: 4px;
    background: #e6e6e6;

}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: orange;
    text-align: center;
}
.quote textarea{
    width: 100%;
}
.quote input[type="text"]{
    width: 100%;
}

@media(max-width: 768px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;


    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;

    }
    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
}